<app-contentng>
  <h2 id="blogHeader">why springboot</h2>
  <p id="blogCenter">
    because spring needs many configuration
  </p>
  <h5 id="blogFooter">conclusion: spring boot is easy for developers</h5>
</app-contentng>
<app-contentng>
  <h2 id="blogHeader">why angular</h2>
  <p id="blogCenter">
    because spring needs many configuration
  </p>
  <h5 id="blogFooter">conclusion: angular is easy for developers</h5>
</app-contentng>
<app-contentng>
  <h2 id="blogHeader">why springboot</h2>
  <p id="blogCenter">
    because spring needs many configuration
  </p>
  <h5 id="blogFooter">conclusion: spring boot is easy for developers</h5>
</app-contentng>
